@font-face {
    font-family: aescrawl;
    src: url(assets/aescrawl.ttf);
  }
    *{
        margin: 0;
        padding: 0;
        font-family: aescrawl, 'Courier New', Courier, monospace;
        box-sizing: border-box;     
    }

    .bg-img{
        background-image: linear-gradient(rgba(2,2,2,0.3), rgba(2,2,2,0.3)), url(assets/bg-image4.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        
    }

    .content{
        max-width: 707px;
        width: 85%;
        margin: auto;
    }

    .profile{
        margin-top: 2em;
        text-align: center;   
    }

    .profile-img{
        max-width: 229px;
        width: 100%;
    }


    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .navlinks li{
        margin: 2em 0;
        padding: .75em;   
        list-style: none;
        text-decoration: none;
        text-align: center;
        border: .15em solid #fff;
        border-radius: 8.5px;    
    }

    .navlinks li:nth-child(3){
        margin-bottom: 0;
    }

    .navlinks a{
        text-decoration: none;
        color: #fff;
        font-size: 1.75rem;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .socials{
        margin: 2em 0;
        text-align: center;
    }

    .socials img{
        /*outline: 1px solid hotpink;*/
        background: transparent;
        border-radius: 50%;
        box-shadow: 2px -2.5px 1px #ffffff;
        max-width: 3.5rem;
        width: 100%;
        margin: 0 1.5em;
        cursor: pointer;
    }

    @media (max-width: 425px){

        .profile-img{
            max-width: 12em;
        }

        .navlinks a{
            font-size: 1.2rem;
        }

        .socials img{
            width: 2em;
            margin: 0 1em;
        }
  
    }


    @media (max-width: 375px){
        .profile{
            margin-top: 1.5em;
        }

        .profile-img{
            max-width: 12em;
        }
    }
